:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*    COLORS    */
--color-light: #white;
--color-dark: #1F2021;

--bgColor: var(--color-light);
--border-color: var(--color-dark);
--text-color:var(--color-dark);

/*    BORDER RADIUS   */
--border-radius: 0.5rem;

/*    BOX SHADOW      */
--my-box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

  /*    SPACINGS  */
--margin-xs: 0.5rem ;
--margin-s:  1rem;
--margin-m:  1.5rem;
--margin-l:  2rem;
--margin-xl:  3rem ;

--padding-xs: 0.5rem ;
--padding-s:  1rem;
--padding-m:  1.5rem;
--padding-l:  2rem;
--padding-xl:  3rem ;

--gap-xs: 0.5rem ;
--gap-s:  1rem;
--gap-m:  1.5rem;
--gap-l:  2rem;
--gap-xl:  3rem ;

}
*{
  margin: 0;
}

body{
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bgColor);
}
ul, ol{
  list-style: none;
}

header{
  width: 100%;

  height: 100px;
  margin: 0;
  padding: 0.5rem 0rem;
  padding-top: var(--padding-xl);
  text-align: center;
}

#filter-products{
  padding: var(--padding-l);
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  text-align: center;
}
#filter-products select{
  margin: 0 auto;
  max-width: 300px;
}
#filter-products input{
  margin-left: var(--margin-s);
  margin-right: var(--margin-s);
}



/* ----------------------------------------------------------   ESTILOS DE LAS CARTAS DE PRODUCTOS   --------------------------------------*/
#product-list{
  padding: var(--padding-l);
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center ;
  justify-content: center;
  gap: var(--gap-l);
}

.product-card{
  min-width: 300px;
  max-width: 400px;
  flex-grow: 1;
  border: 0px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--my-box-shadow);
  display: flex;
  flex-direction: column;
  align-items:center ;
  gap: var(--gap-s);
  padding-bottom: var(--margin-m);
}

.product-card img{
  width: 100%;
  border-radius: var(--border-radius);
}